body{
  background-color: black;
}
.App {
  text-align: center;
  color: white;
}
.userInput{
  margin-top:20px;
  height: 50px;
  width: 500px;
}
.submit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 10%;
  margin-left: 05px;
  margin-top: 10px;

}
label{
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  margin-right:10px;
}
.container1{
  margin-left: 500px;
  color: white;
  margin-top: 30px;
}
.container{
  margin-top: 50px;
  text-align: center;
}